#icon {
    position: absolute;
    transform-origin: 0 0;
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;
    background: no-repeat top center;
    z-index: 3;
    background-color: lawngreen;
}